[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

parsedatetime = "*"
tasklib = "*"
bpython = "*"
pytest = "*"
pdbpp = "*"
neovim = "*"
"flake8" = "*"
ptpython = "*"
prompt-toolkit = "*"
yapf = "*"


[dev-packages]

ptpython = "*"
mypy = "*"
yapf = "*"


[requires]

python_version = "3.6"
