[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

parsedatetime = "*"
tasklib = "*"


[dev-packages]

pdbpp = "*"
neovim = "*"
"flake8" = "*"
ptpython = "*"
pytest = "*"
black = "*"


[requires]

python_version = "3.6"
